@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap');

@layer base {
  html { font-family: "Instrument Sans", sans-serif; }
  body { @apply antialiased text-ink bg-sand; }
  h1, h2, h3, h4, h5, h6 { font-family: "Space Grotesk", sans-serif; }
}
